:80 {
    encode gzip zstd

    @ws path /ws /ws/*
    handle @ws {
        reverse_proxy game-server:8899
    }

    handle {
        reverse_proxy api-server:8788
    }
}

{$API_DOMAIN} {
    encode gzip zstd
    reverse_proxy api-server:8788
}

{$WS_DOMAIN} {
    encode gzip zstd
    reverse_proxy game-server:8899
}
